@media (max-width: 1070px) {
  header {
    padding: 10px !important;
  }

  .logo {
    font-size: 1.7rem;
  }

  .login i {
    font-size: 1.1rem;
  }

  .login a {
    font-size: 1.1rem;
  }

  header.sticky {
    padding: 10px !important;
  }
}

@media (max-width: 820px) {
  .hamburger {
    display: block !important;
  }
  .navmenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem;
    background: var(--light-color);
    flex-direction: column;
    align-items: center;
    border-top: 0.1rem solid rgb(0, 0, 0, 0.3);
    border-bottom: 0.1rem solid rgb(0, 0, 0, 0.3);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navmenu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navmenu li {
    margin: 10px 0;
    max-width: 90%;
    width: 400px;
    height: 40px;
    background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navmenu li:hover {
    background: var(--background);
    box-shadow: 0px 0px 5px #111;
  }

  .navmenu li a:hover {
    color: var(--dark-color);
    width: 100%;
  }

  .navmenu li a {
    color: var(--light-color);
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navmenu li a::after {
    display: none;
  }

  .login {
    display: none;
  }

  .login-1 {
    display: block;
  }

  /* Hero Section */
  .about-box img {
    width: auto;
  }

  .hero-info h1 {
    font-size: 3rem;
  }
}
